@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "logo";
  src: url("fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
